parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
